<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        {% load static %}

        <!-- Link a Bootstrap-->
        <link rel="stylesheet" href="{% static 'MoBike/css/Bootstrap/Bootstrap.css'%}">

        <!-- Link a CSS -->
        <link rel="stylesheet" href="{% static 'MoBike/css/style.css' %}">

</head>
<body>
    
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">MoBike<span class="sr-only">(current)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mapa' %}">Mapa de estaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-3">
                    <li class="nav-item">
                        <a href="{% url 'login' %}">Iniciar Sesion</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-3">
                    <li class="nav-item">
                        <a href="{% url 'registro' %}">Registrarse</a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
      {% block content %}



      {% endblock %}
</body>
</html>