{% extends 'MoBike/base.html' %}

{% block content %}

{% load static %}

  <div class="container-fluid background">
    <div>
        <img class="bici" src="{% static 'MoBike/img/background.jpg' %}" alt="">
    </div>
    
  </div>

{% endblock %}