{% extends 'Mobike/base.html'%}

{% block content %}

<div class="container-fluid mapa">
    <div class="container">
        <br>
        <h1>Estaciones disponibles hasta el momento</h1>
        <br>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11bIanOJ1u_68zumbQGARV-t2Axk_D_96" width="800" height="600"></iframe>        
    </div>    
</div>



{% endblock %}