

.imgback{
    max-width: 100%;
    height: auto;
}

.bici{
    width: 100%;
    height: max-content;
}

body {
	margin:0;
	color:#edf3ff;
	background:#c8c8c8;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	background-size: auto;
    font:600 16px/18px 'Open Sans',sans-serif;
    
}

.mapa{
    position: relative;
    left: 80px;
}

